/*
// Table of content
// -----------------------------------------------------------------------------
// - 1. Header
// - 2. Footer
// - 3. Hero Title
*/
/* -----------------------------------------------------------------------------
// 1. Header 
// ----------------------------------------------------------------------------- */
label {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important; /** ISSO AQUI ALINHA VERTICALMENTE */
	min-height: 36px!important;
}
.dropdown-menu button{ 
	font-family: 'Montserrat','Open Sans',sans-serif;
    color: #000;
	border: 0;
	background-color: transparent;
	font-size: 10px;
	font-weight: bold;
	transition: color 600ms ease;
}

.dropdown-menu button:hover{
	color: #1178f7;
}
	

html,body,section{
    overflow-x:hidden!important;
    max-width:  100vw!important;
}
.swal2-title {
	font-family: 'Montserrat','Open Sans',sans-serif;
	font-size: 24px!important;
	margin-bottom: 24px!important;
}
.swal2-content {
	font-size: 14px!important;
	margin-bottom: 24px!important;
}
.swal2-actions button {
	font-size: 12px!important;
	font-family: 'Montserrat','Open Sans',sans-serif;
}
.swal2-popup{
	min-width: 35vw!important;
}
header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 1;
  padding: 30px 0; }
  header:before, header:after {
    content: " ";
    display: table; }
  header:after {
    clear: both; }
  header nav.sidebar {
    position: absolute;
    top: 0;
    right: -25%;
    opacity: 0;
    height: 800px;
    height: 100vh;
    background-color: rgb(17, 144, 215);
    width: 20%;
    padding-left: 40px;
    padding-top: 100px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    header nav.sidebar li {
      margin-bottom: 20px; }
      header nav.sidebar li a {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: "Montserrat", Helvetica, Arial, sans-serif; }
    header nav.sidebar .social {
      margin: 60px 0 25px 0; }
      header nav.sidebar .social li {
        display: inline-block;
        margin-right: 10px; }
      header nav.sidebar .social a {
        color: #fff;
        font-size: 14px; }
    header nav.sidebar .btn {
      background-color: #fff;
      color: #11b8d7; }
      header nav.sidebar .btn:hover {
        color: #fff;
        border-color: #fff;
        background-color: transparent; }
  @media (max-width: 992px) {
    header nav.sidebar {
      width: 50%; } }

.sidebar-active {
  opacity: 1 !important; right: 0!important;}

/* -----------------------------------------------------------------------------
// 2. Footer 
// ----------------------------------------------------------------------------- */
footer {
  position: relative;
  background: url(../img/fundo-footer.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff; }
  footer:after {
    content: ' ';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 184, 215, 0.85); }
  footer .section-headline h4,
  footer .section-headline p {
    color: #fff !important; }
  footer .footer-main {
    position: relative;
    padding: 100px 0 0 0;
    z-index: 2; }
    footer .footer-main .col {
      text-align: center;
      text-transform: uppercase; }
      footer .footer-main .col p {
        margin-bottom: 5px; }
    footer .footer-main p {
      font-family: "Montserrat", Helvetica, Arial, sans-serif;
      letter-spacing: 2px; }
    footer .footer-main .icon {
      width: 70px;
      height: 70px;
      line-height: 70px;
      margin: 0 auto 30px auto;
      background-color: #11b8d7;
      color: #fff;
      border-radius: 100%;
      text-align: center;
      font-size: 22px; }
    @media (max-width: 992px) {
      footer .footer-main .col {
        margin-bottom: 50px; } }
  footer .footer-social {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.1); }
    footer .footer-social ul {
      padding: 0;
      margin-bottom: 0; }
      footer .footer-social ul li {
        display: inline; }
      footer .footer-social ul a {
        margin: 0 20px;
        font-size: 24px;
        color: #fff;
        opacity: .2;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s; }
        footer .footer-social ul a:hover {
          opacity: 1;
          text-decoration: none; }
  footer .footer-copyright {
    position: relative;
    z-index: 2;
    letter-spacing: 2px;
    padding: 25px 0;
    text-align: center;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #fff; }

/* -----------------------------------------------------------------------------
// 3. Hero Title 
// ----------------------------------------------------------------------------- */
.hero-title {
  padding: 200px 0 100px 0;
  background-color: #aeaeae;
  text-align: center;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .hero-title h2 {
    padding: 0;
    font-size: 48px;
    color: #11b8d7;
    font-weight: 500; }
    .hero-title h2 small {
      display: block;
      margin: 10px 0 0 0;
      font-family: "Montserrat", Helvetica, Arial, sans-serif;
      color: #4b4b4b;
      letter-spacing: 2px;
      font-size: 16px;
      text-transform: uppercase;
      color: #181818; }

/*# sourceMappingURL=layout.css.map */
