<div class="content">
	<div class="banner hidden-sm hidden-xs">
		 <div class="container">
			<div class="%maxcol-8-10-12% banner-matter">
					<div id="owl-demo1" class="owl-carousel">
						%slidehome%
					</div>
				</div>
				<!-- div class="col-md-6 banner-side">
					<div class="col-md-6 side">
						<img class="img-responsive" src="images/ba.jpg" alt="">
					</div>
					<div class="col-md-6 side">
						<img class="img-responsive" src="images/ba1.jpg" alt="">
					</div>
					<div class="clearfix"> </div>
				</div -->
				<div class="clearfix"> </div>
			</div>
	</div>
	<div class="container">
		<div class="content-top"></div>
		<div class="content-grid">
			<h2>QUEM SOMOS</h2>
			<p>Fundada no ano de 2020, estamos no mercado da farmácia hospitalar especificamente na área de empréstimos de produtos hospitalares entre instituições de saúde como hospitais, clínicas e Home cores. Temos como objetivo acabar com as perdas de produtos hospitalares contribuindo para um melhor funcionamento das instituições e uma preservação do meio ambiente.</p>
		</div>
		<div class="content-grid">
			<h2>Porque escolher o SavePharma?</h2>
		</div>
		<div class="content-top">
			<div class="col-md-4 col-xs-12 grid">
				<center><h3>Motivo A</h3></center><br />
				<p>Na plataforma do SavePharma você terá acesso a diversas insituições de saúde para realizar o empréstimo de maneira rápida e segura.</p>
			</div>
			<div class="col-md-4 col-xs-12 grid">
				<center><h3>Motivo B</h3></center><br />
				<p style="font-size: 0.91em;">No save Pharma  existe um sistema de ponto no qual a cada 1 real vale um ponto save, tornando o empréstimo mais flexível pois assim você poderá usar esses pontos para adquirir produtos em outras instituições.</p>
			</div>
			<div class="col-md-4 col-xs-12 grid">
				<center><h3>Motivo C</h3></center><br />
				<p>O save Pharma é uma plataforma onsite e moblie onde você terá fácil acesso  através de um computador ou smartphone.</p>
			</div>
			<div class="clearfix"> </div>
		</div>

		<div class="content-grid">
			<h2>HISTÓRIA</h2>
			<p>A save Pharma foi funda no ano de 2020 por meio de um grupo de amigos que atuavam na área hospitalar e perceberam a necessidade de inovação para resolver o problema de perdas de produtos hospitalares por vencimento ou desuso. Temos como objetivo principal acabar com as perdas de produtos e conservar o meio ambiente com acabando com a destruição destes produtos.</p>
		</div>
	</div>
</div>
