<div class="content">
	<div class="banner hidden-sm hidden-xs">
		 <div class="container">
			<div class="%maxcol-8-10-12% banner-matter">
					<div id="owl-demo1" class="owl-carousel">
						%slidehome%
					</div>
				</div>
				<!-- div class="col-md-6 banner-side">
					<div class="col-md-6 side">
						<img class="img-responsive" src="images/ba.jpg" alt="">
					</div>
					<div class="col-md-6 side">
						<img class="img-responsive" src="images/ba1.jpg" alt="">
					</div>
					<div class="clearfix"> </div>
				</div -->
				<div class="clearfix"> </div>
			</div>
	</div>
	<div class="container">
		<div class="content-top"></div>
		<div class="content-grid">
			<h2>Meu texto informativo de exemplo</h2>
			<p>Blandit ad vel adipiscing nostrud consequat, te quis euismod dolor nisl nostrud consequat ex blandit hendrerit ad et dolor. Nostrud, suscipit eu ipsum ullamcorper dolore in augue ullamcorper nulla. Eros velit esse nostrud qui, adipiscing esse luptatum at vel praesent erat, diam feugait luptatum sit lorem vel illum dignissim luptatum diam illum, duis ut, in. Lobortis at tincidunt ut augue elit amet feugiat laoreet luptatum nisl tincidunt aliquip eu minim veniam feugait accumsan dolore eros, feugait in dolor aliquam erat augue. Hendrerit, illum commodo facilisis, exerci, tation consequat, iriure, feugiat et facilisis molestie vulputate.</p>
		</div>
		<div class="content-grid">
			<h2>Porque escolher o SavePharma?</h2>
		</div>
		<div class="content-top">
			<div class="col-md-4 col-xs-12 grid">
				<center><h3>Motivo A</h3></center><br />
				<p>Blandit, in, augue at tincidunt ut augue elit amet feugiat laoreet. Autem nisl tincidunt aliquip eu minim veniam feugait accumsan dolore eros </p>
			</div>
			<div class="col-md-4 col-xs-12 grid">
				<center><h3>Motivo B</h3></center><br />
				<p>Blandit, in, augue at tincidunt ut augue elit amet feugiat laoreet. Autem nisl tincidunt aliquip eu minim veniam feugait accumsan dolore eros </p>
			</div>
			<div class="col-md-4 col-xs-12 grid">
				<center><h3>Motivo C</h3></center><br />
				<p>Blandit, in, augue at tincidunt ut augue elit amet feugiat laoreet. Autem nisl tincidunt aliquip eu minim veniam feugait accumsan dolore eros</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="content-grid">
			<h2>Outro texto informativo de exemplo</h2>
			<p>Blandit ad vel adipiscing nostrud consequat, te quis euismod dolor nisl nostrud consequat ex blandit hendrerit ad et dolor. Nostrud, suscipit eu ipsum ullamcorper dolore in augue ullamcorper nulla. Eros velit esse nostrud qui, adipiscing esse luptatum at vel praesent erat, diam feugait luptatum sit lorem vel illum dignissim luptatum diam illum, duis ut, in. Lobortis at tincidunt ut augue elit amet feugiat laoreet luptatum nisl tincidunt aliquip eu minim veniam feugait accumsan dolore eros, feugait in dolor aliquam erat augue. Hendrerit, illum commodo facilisis, exerci, tation consequat, iriure, feugiat et facilisis molestie vulputate.</p>
		</div>
	</div>
</div>
