<div class="col-xs-10 col-sm-10 col-md-6 col-lg-4 col-md-offset-0 col-lg-offset-0 col-sm-offset-1 col-xs-offset-1 hidding animated delay1 mywork" data-animated="%animacao%">
    <div class="build">
    <div class="folio">
        <div class="hcaption">
           <div class="myToggle"></div>
            <div class="attr-icon">
                <div class="caption animated onHover" data-animatedin="bounceIn" data-animatedout="fadeOut">
                    <a href="%imagem%" class="fancybox btn btn-primary btn-sm" data-caption="%legenda%"><span class="fa fa-search"></span> Expandir</a>
                </div>
            </div>
            <div class="attr-cap">
                <div class="main-cap animated onHoverCap text-center" data-animatedin="bounceIn" data-animatedout="fadeOut">
                    <h3>%legenda%</h3>
                </div>
            </div>
            <div style="width: 100%; height: 270px;background: transparent url(%imagem%) no-repeat center center; background-size: 100% auto; border: 4px solid %corbordadark%;">
                &nbsp;
            </div>
        </div>
    </div>
    </div>
</div><!-- end col -->
