html, body, * {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand:after {
    content: " %titulo-logo%"
}

.dataTables_wrapper .dataTables_paginate.paging_simple_numbers .paginate_button,
.dataTables_wrapper .dataTables_paginate.paging_simple_numbers .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate.paging_simple_numbers .paginate_button.next,
.dataTables_wrapper .dataTables_paginate.paging_simple_numbers span .paginate_button,
.dataTables_wrapper .dataTables_paginate.paging_simple_numbers span .paginate_button:active {
    background: transparent!important;
    margin-top: 16px!important;
    border-radius: 0px!important;
    border: 1px solid transparent!important;
    color: #333!important;
    box-shadow: 0px 0px 0px transparent!important;
    transition: all 600ms ease!important;
}

.btn[class*="primary"], .panel[class*="primary"] .panel-heading {
    background: rgb(%cortema%);
    border-color: rgb(%cortema%);
}

.btn:not(.btn-circle), .panel > *, input.form-control {
    border-radius: 0!important;
    outline: 0!important;
}

.btn[class*="primary"] {
    transition: filter 600ms ease;
}

a, a:visited, a:link {
    color: rgb(%cortema%);
}

a.btn, .btn a {
    color: #fff;
}

.btn[class*="primary"]:hover {
    filter: brightness(110%);
}

.panel {
    border-radius: 0;
}

.panel[class*="primary"] {
    border-color: rgb(%cortema%);
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 12px rgba(%cortema%,.45);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 12px rgba(%cortema%,.45);
}

.form-control:not(.btn):focus{
    border-color:rgb(%cortema%);
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(%cortema%,.45);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(%cortema%,.45);
}

.dataTables_wrapper .dataTables_paginate.paging_simple_numbers span .paginate_button.current,
.dataTables_wrapper .dataTables_paginate.paging_simple_numbers span .paginate_button:hover {
    background: #eee!important;
    border-color: #aaa!important;
}


.dataTables_wrapper .dataTables_paginate.paging_simple_numbers .paginate_button.previous.disabled,
.dataTables_wrapper .dataTables_paginate.paging_simple_numbers .paginate_button.next.disabled {
    opacity: .5!important;
}

.chosen-container .chosen-results li.highlighted {
    background: rgb(%cortema%)!important;
    color: #fff!important;
    transition: background-color 400ms ease, color 300ms ease;
}

.chosen-container .chosen-results li {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

.navbar-header .links {
    transition: right 600ms ease;
    position: fixed;
    top: 0;
    right: -80vw;
    width: 80vw;
    height: 100vh;
    padding: 0;
    list-style: none;
    background-color: rgb(%cortema%)!important;
    z-index: 1000;
}

.navbar-header .links i, .navbar-header .links .arrow {
    display: none;
}

.navbar-header .links a {
    background-color: transparent;
    color: rgb(%cortema%);
    width: 100%;
    text-align: center;
    display: inline-block;
}

.sidebar ul li a {
    color: rgb(%cortema%);
    background-color: transparent;
    letter-spacing: 0.035rem;
    transition: background-color 400ms ease, color 300ms ease;
}

.sidebar ul li.active a, .sidebar ul li a:hover, .sidebar ul li a:active, .sidebar ul li.active, .sidebar ul li a.active {
    background-color: rgb(%cortema%);
    color: #fff;
}

.sidebar ul li ul li a, .sidebar ul li.active ul li a {
    background-color: #f8f8f8;
    color: rgb(%cortema%);
}

.sidebar ul li ul li a.active {
    color: #fff;
    background-color: #555;
}

.sidebar ul li ul li a:hover {
    color: #555;
    background-color: #f8f8f8;
}

.navbar-header .links > li:not(.title) {
    padding: 8px!important;
    border: 2px solid #fff;
    border-radius: 4px;
    width: 80%!important;
    margin: 6px auto;
    font-weight: bold;
    border: 2px solid #ddd;
    margin: 8px auto;
    background-color: #fff;
    border-radius: 8px;
}

.navbar-header .links > li:not(.title) > ul > li {
    border: 2px solid #114a97!important;
    margin: 8px auto;
    background-color: rgb(%cortema%)!important;
    border-radius: 8px;
}

.navbar-header .links > li:not(.title) > ul > li > a {
    color: #fff!important;
}

.navbar-header .links li.title {
    width: 100%!important;
    font-size: 40px;
    text-align: center;
    margin-bottom: 16px;
    color: #fff;
}

.navbar-header .links li ul {
    display: none;
}

.navbar-header .links li:hover ul {
    display: block;
}

@media screen and (max-width: 768px) {
    nav a {
        color: rgb(%cortema%)!important;
    }

    .navbar-header:hover .links {
        right: 0;
    }

    nav #side-menu {
        display: none!important;
    }

    .navbar-brand:after {
        content: ""
    }

    .navbar-brand i:before{
        content: "\f0c9";
        font-size: 28px;
    }

    nav {
        background-color: #f8f8f8!important;
    }

}
