<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-lqy6{text-align:right;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-dvpl{border-color:inherit;text-align:right;vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}</style>
<div class="tg-wrap"><table class="tg">
<thead>
<tr>
<th class="tg-c3ow" colspan="3">SOLICITANTE</th>
<th class="tg-c3ow" colspan="3">CEDENTE</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tg-c3ow" colspan="3">EST1</td>
<td class="tg-c3ow" colspan="3">EST2</td>
</tr>
<tr>
<td class="tg-0pky">DESCRIÇÃO</td>
<td class="tg-0pky" colspan="5">DESC</td>
</tr>
<tr>
<td class="tg-dvpl">LOTE</td>
<td class="tg-c3ow"></td>
<td class="tg-dvpl">VALIDADE</td>
<td class="tg-c3ow"></td>
<td class="tg-dvpl">QUANTIDADE</td>
<td class="tg-baqh"></td>
</tr>
<tr>
<td class="tg-lqy6">RETIRADA</td>
<td class="tg-baqh"></td>
<td class="tg-lqy6">PREVISÃO</td>
<td class="tg-baqh"></td>
<td class="tg-lqy6">DEVOLUÇÃO</td>
<td class="tg-baqh"></td>
</tr>
<tr>
<td class="tg-lqy6">PERMUTA</td>
<td class="tg-baqh"></td>
<td class="tg-lqy6">ATRASO</td>
<td class="tg-baqh"></td>
<td class="tg-lqy6">DEVOLVIDO</td>
<td class="tg-baqh"></td>
</tr>
</tbody>
</table></div>
