
<!-- /.row -->
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-%painel-icone%"></i> <strong>%painel-titulo%</strong>
            </div>
            <div class="panel-body">
                <form role=form method=post enctype="multipart/form-data">
                    %f_%tipo-acesso%%
                </form>
            </div>
            <div class="panel-footer text-center" style="font-size: 12px; font-weight: bold; min-height: 32px; color: #c45;">
                %mensagem-erro% %debug%
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
