<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Painel SavePharma - Login de acesso (area restrita)</title>

        <!-- Bootstrap Core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="/css/metisMenu.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/css/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading text-center">
                            <span style="font-size: calc(1vw + 12px); color: #337ab7; background-color: transparent;">
                                <i class="fa fa-hospital-o"></i>&nbsp;SavePharma
                            </span>
                        </div>
                        <div class="panel-body">
                            <form role="form" method="post" action="/painel/login">
                                <fieldset>
                                    <div class="form-group">
                                        <input style="border-radius: 0px;" value="%email%" class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input style="border-radius: 0px;" class="form-control" placeholder="Senha" name="senha" type="password" value="">
                                    </div>
                                    <!-- Change this to a button or input when using this as a form -->
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-lg btn-success">Acessar o Painel</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="panel-footer text-center" style="font-size: 12px; font-weight: bold; min-height: 32px; color: #c45;">
                            %mensagem-erro%
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="/js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="/js/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="/js/startmin.js"></script>

    </body>
</html>
