

<div class="row">
    <div class="col-lg-3" id="c1">
        <div class="panel panel-success">
            <div class="panel-heading text-center">
                <h4 style="font-weight: bold;">
                    Você emprestou
                </h4>
            </div>
            <div class="panel-body row">
                <div class="col-lg-12">
                    <h2 class="text-center">%emprestou%</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3" id="c2">
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                <h4 style="font-weight: bold;">
                    Pegou emprestado
                </h4>
            </div>
            <div class="panel-body row">
                <div class="col-lg-12">
                    <h2 class="text-center">%emprestado%</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3" id="c3">
        <div class="panel panel-warning">
            <div class="panel-heading text-center">
                <h4 style="font-weight: bold;">
                    Entrada de pontos
                </h4>
            </div>
            <div class="panel-body row">
                <div class="col-lg-12">
                    <h2 class="text-center">%entrada%</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3" id="c4">
        <div class="panel panel-danger">
            <div class="panel-heading text-center">
                <h4 style="font-weight: bold;">
                    Saída de pontos
                </h4>
            </div>
            <div class="panel-body row">
                <div class="col-lg-12">
                    <h2 class="text-center">%saida%</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-6" id="painel-regras">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>
                    Regras dos produtos
                    <span style="float: right; cursor: pointer;" onclick="$('#painel-regras').fadeOut().promise().done(function(){$(this).remove();$('#saudacoes-home').removeClass('col-md-4').addClass('col-md-10');});">
                        <i class="fa fa-times-circle"></i>
                    </span>
                </h4>
            </div>
            <div class="panel-body" style="font-size: 11px;">
                <div>
                    1&nbsp;&ndash;&nbsp;Produtos com o prazo de validade inferior a %prazoMinimoValidade% dias ficarão desativados.
                </div>

                <div>
                    2&nbsp;&ndash;&nbsp;Produtos com o prazo de devolução inferior a %prazoMinimoDevolucao% dias ficarão desativados.
                </div>

                <div>
                    3&nbsp;&ndash;&nbsp;Produtos que não se apliquem aos critérios do sistema não serão disponíveis para transação.
                </div>

                <div>
                    4&nbsp;&ndash;&nbsp;Apenas usuários vinculados a algum estabelecimento realizam transações.
                </div>
            </div>
        </div>
    </div> -->
</div>

%tabela_produtos%
