

<div class="row">
    <div class="col-lg-3" id="c1">
        <div class="panel panel-success">
            <div class="panel-heading text-center">
                <h4 style="font-weight: bold;">
                    Você emprestou
                </h4>
            </div>
            <div class="panel-body row">
                <div class="col-lg-12">
                    <h2 class="text-center">%emprestou%</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3" id="c2">
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                <h4 style="font-weight: bold;">
                    Pegou emprestado
                </h4>
            </div>
            <div class="panel-body row">
                <div class="col-lg-12">
                    <h2 class="text-center">%emprestado%</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3" id="c3">
        <div class="panel panel-warning">
            <div class="panel-heading text-center">
                <h4 style="font-weight: bold;">
                    Entrada de pontos
                </h4>
            </div>
            <div class="panel-body row">
                <div class="col-lg-12">
                    <h2 class="text-center">%entrada%</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3" id="c4">
        <div class="panel panel-danger">
            <div class="panel-heading text-center">
                <h4 style="font-weight: bold;">
                    Saída de pontos
                </h4>
            </div>
            <div class="panel-body row">
                <div class="col-lg-12">
                    <h2 class="text-center">%saida%</h2>
                </div>
            </div>
        </div>
    </div>
</div>

%tabela_relatorio%
