<!-- /.row -->
<div class="row">
    <div class="hidden-sm hidden-xs col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-%painel-icone%"></i> <strong>%painel-titulo%</strong>
            </div>
            <div class="panel-body">
                <table id="%tabela%" class="table table-bordered text-center" width="100%"></table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
    <div class="hidden-md hidden-lg col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-%painel-icone%"></i> <strong>%painel-titulo%</strong>
            </div>
            <div class="panel-body row">
                <div class="form-group col-sm-8 col-xs-8 col-xs-offset-2 col-sm-offset-2">
                    <label>Pesquisar:</label>
                    <input class="form-control" type="text" id="%tabela%-pesquisa"/>
                </div>
                <div id="%tabela%-mobile">
                    <div class="form-group col-sm-8 col-xs-8 col-xs-offset-2 col-sm-offset-2 text-center">
                        <h3 id="mensagem"></h3>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
