/*
// Table of content
// -----------------------------------------------------------------------------
// - 1. Homepage
// - 2. About Page
// - 3. Journal Page
// - 4. Journal Detail Page
// - 5. Cupcakes Page
// - 6. Cupcakes Detail Page
// - 7. Contact Page
*/
/* -----------------------------------------------------------------------------
// 1. Homepage
// ----------------------------------------------------------------------------- */
.homepage .section-headline {
  margin-bottom: 20px;
  text-align: center; }
  .homepage .section-headline h4 {
    display: inline-block;
    margin: 0 0 40px 0;
    color: #11b8d7;
    font-size: 40px; }
  .homepage .section-headline p {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #4b4b4b;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    letter-spacing: 2px; }
.homepage .hero-splash {
  position: relative;
  height: 750px;
  text-align: center;
  overflow: hidden;
  font-family: "Gabriela", Helvetica, Arial, sans-serif;
  background: url(http://placehold.it/1895x1000) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .homepage .hero-splash .splash-slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; }
    .homepage .hero-splash .splash-slider img {
      min-height: 100%; }
    @media (max-width: 1350px) {
      .homepage .hero-splash .splash-slider img {
        max-width: initial; } }
    .homepage .hero-splash .splash-slider .owl-pagination {
      position: absolute;
      bottom: 90px;
      right: 0;
      left: 0;
      margin: 0 auto;
      text-align: center; }
      .homepage .hero-splash .splash-slider .owl-pagination .owl-page {
        display: inline-block; }
        .homepage .hero-splash .splash-slider .owl-pagination .owl-page span {
          display: block;
          width: 12px;
          height: 12px;
          margin: 5px 7px;
          filter: Alpha(Opacity=100);
          opacity: 1;
          border: 1px solid #fff;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px;
          background: transparent; }
        .homepage .hero-splash .splash-slider .owl-pagination .owl-page.active span {
          background-color: #fff; }
  .homepage .hero-splash .align {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .homepage .hero-splash h1 {
    padding: 0 0 15px 0;
    color: #11b8d7;
    font-size: 48px;
    font-weight: 700; }
    .homepage .hero-splash h1 small {
      display: block;
      font-family: "Montserrat", Helvetica, Arial, sans-serif;
      margin: 25px 0 0 0;
      text-transform: uppercase;
      color: #4b4b4b;
      font-weight: 700;
      letter-spacing: 2px;
      font-size: 16px; }
  .homepage .hero-splash .btn-light {
    margin-left: 10px;
    color: #11b8d7; }
    .homepage .hero-splash .btn-light:hover {
      color: #fff; }
  @media (max-width: 768px) {
    .homepage .hero-splash h1 {
      font-size: 36px; } }
.homepage .cupcakes-section .item {
  text-align: center; }
  .homepage .cupcakes-section .item img {
    margin-bottom: 20px; }
  .homepage .cupcakes-section .item h4 {
    margin-bottom: 20px;
    font-size: 16px;
    color: #4b4b4b;
    text-transform: uppercase;
    font-family: "Montserrat", Helvetica, Arial, sans-serif; }
  .homepage .cupcakes-section .item p {
    padding: 0 20px; }
@media (max-width: 992px) {
  .homepage .cupcakes-section .item {
    margin-bottom: 30px; } }
.homepage .counters {
  padding: 150px 0;
  background: url(http://placehold.it/1895x700) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.homepage .aboutus img {
  border-radius: 5px; }
.homepage .aboutus h3 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  margin: 30px 0 40px 0; }
  .homepage .aboutus h3 + p {
    margin-bottom: 20px; }
.homepage .aboutus .list {
  margin-left: 10px; }
@media (max-width: 992px) {
  .homepage .aboutus .list {
    margin-bottom: 30px; } }

/* -----------------------------------------------------------------------------
// 2. About Page
// ----------------------------------------------------------------------------- */
.about .section-headline {
  margin-bottom: 20px;
  text-align: center; }
  .about .section-headline h4 {
    display: inline-block;
    margin: 0 0 40px 0;
    color: #11b8d7;
    font-size: 40px; }
  .about .section-headline p {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #4b4b4b;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    letter-spacing: 2px; }
.about .hero-title {
  background-image: url(http://placehold.it/1895x500); }
.about .aboutus h3 {
  margin-bottom: 30px; }
@media (max-width: 992px) {
  .about .aboutus h3 + p {
    margin-bottom: 30px; } }
.about .banner {
  padding: 150px 0;
  background: url(http://placehold.it/1800x600) center center;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .about .banner p {
    color: #181818;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Montserrat", Helvetica, Arial, sans-serif; }
  .about .banner h2 {
    color: #fff;
    font-size: 36px;
    margin-top: 0; }
.about .skills h3 {
  margin-bottom: 30px; }
.about .skills p {
  margin-bottom: 25px; }
.about .team .person {
  text-align: center; }
  .about .team .person img {
    border-radius: 5px;
    margin-bottom: 20px; }
  .about .team .person span {
    margin-bottom: 10px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #4b4b4b;
    font-size: 12px; }
  .about .team .person h4 {
    margin: 0 0 25px 0;
    color: #11b8d7; }
  .about .team .person p {
    padding: 0 30px; }
@media (max-width: 992px) {
  .about .team .person {
    margin-bottom: 30px; } }

/* -----------------------------------------------------------------------------
// 3. Journal Page
// ----------------------------------------------------------------------------- */
.journal .section-headline {
  margin-bottom: 20px;
  text-align: center; }
  .journal .section-headline h4 {
    display: inline-block;
    margin: 0 0 40px 0;
    color: #11b8d7;
    font-size: 40px; }
  .journal .section-headline p {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #4b4b4b;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    letter-spacing: 2px; }
.journal .hero-title {
  background-image: url(http://placehold.it/1895x500); }
.journal .post {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f8f2ed;
  margin-bottom: 30px; }
  .journal .post .date {
    font-size: 12px;
    text-transform: uppercase;
    color: #181818;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    color: #4b4b4b;
    letter-spacing: 1px; }
  .journal .post h2 {
    font-size: 20px;
    margin: 5px 0 20px 0; }
    .journal .post h2 a {
      color: #11b8d7; }
  .journal .post p {
    color: #9c9c9c; }
  .journal .post .align {
    padding: 30px 40px; }
  .journal .post .meta {
    margin-top: 40px;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #fff; }
    .journal .post .meta:before, .journal .post .meta:after {
      content: " ";
      display: table; }
    .journal .post .meta:after {
      clear: both; }
    .journal .post .meta a {
      font-size: 12px;
      text-transform: uppercase;
      color: #c4c4c4; }
      .journal .post .meta a i {
        margin-right: 10px; }
      .journal .post .meta a:hover {
        color: #181818;
        text-decoration: none; }
        .journal .post .meta a:hover i {
          color: #11b8d7; }
.journal .load-more:hover {
  background-color: #11b8d7;
  color: #fff;
  border-color: #11b8d7; }

/* -----------------------------------------------------------------------------
// 4. Journal Detail Page
// ----------------------------------------------------------------------------- */
.journal-detail .section-headline {
  margin-bottom: 20px;
  text-align: center; }
  .journal-detail .section-headline h4 {
    display: inline-block;
    margin: 0 0 40px 0;
    color: #11b8d7;
    font-size: 40px; }
  .journal-detail .section-headline p {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #4b4b4b;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    letter-spacing: 2px; }
.journal-detail .hero-title {
  background-image: url(http://placehold.it/1895x500); }
.journal-detail .post {
  background-color: #f8f2ed;
  border-radius: 5px;
  overflow: hidden; }
  .journal-detail .post .align {
    padding: 40px; }
  .journal-detail .post .date {
    font-size: 12px;
    text-transform: uppercase;
    color: #181818;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: #4b4b4b; }
  .journal-detail .post h2 {
    margin: 5px 0 30px 0;
    color: #11b8d7; }
  .journal-detail .post p {
    margin-bottom: 30px; }
  .journal-detail .post blockquote {
    margin: 30px 0; }
  .journal-detail .post .meta {
    margin-top: 40px;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #fff; }
    .journal-detail .post .meta ul {
      padding: 0;
      margin: 0;
      list-style: none; }
    .journal-detail .post .meta li {
      display: inline-block; }
      .journal-detail .post .meta li:after {
        content: '|';
        margin: 0 20px;
        color: #f8f8f8; }
      .journal-detail .post .meta li:last-child:after {
        content: none; }
    .journal-detail .post .meta a {
      font-size: 12px;
      text-transform: uppercase;
      color: #c4c4c4; }
      .journal-detail .post .meta a i {
        margin-right: 10px; }
      .journal-detail .post .meta a:hover {
        color: #181818;
        text-decoration: none; }
        .journal-detail .post .meta a:hover i {
          color: #11b8d7; }
.journal-detail .post-comments {
  margin-top: 100px; }
  .journal-detail .post-comments h3 {
    color: #11b8d7;
    margin: 0 0 30px 0;
    font-size: 36px; }
  .journal-detail .post-comments .comment {
    padding: 30px 20px 30px 40px;
    margin-bottom: 20px;
    background-color: #f8f2ed;
    border-radius: 5px; }
    .journal-detail .post-comments .comment:before, .journal-detail .post-comments .comment:after {
      content: " ";
      display: table; }
    .journal-detail .post-comments .comment:after {
      clear: both; }
    .journal-detail .post-comments .comment-avatar {
      width: 90px;
      height: 90px;
      float: left;
      border: 8px solid #fff;
      border-radius: 100%;
      overflow: hidden; }
      .journal-detail .post-comments .comment-avatar img {
        margin: 0; }
    .journal-detail .post-comments .comment .align {
      position: relative;
      float: left;
      margin-left: 4%;
      width: 81%; }
    .journal-detail .post-comments .comment h5 {
      display: inline-block;
      margin: 10px 0 0 0;
      color: #4b4b4b;
      font-weight: 700; }
      .journal-detail .post-comments .comment h5 + p {
        margin-top: 30px; }
    .journal-detail .post-comments .comment .meta {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px 25px;
      border-radius: 5px;
      font-size: 12px;
      background-color: #fff;
      color: #c4c4c4; }
      .journal-detail .post-comments .comment .meta span:after {
        content: '|';
        color: #f5f5f5;
        margin: 0 15px; }
      .journal-detail .post-comments .comment .meta i {
        margin-right: 8px; }
      .journal-detail .post-comments .comment .meta a {
        color: #11b8d7;
        text-transform: uppercase; }
        .journal-detail .post-comments .comment .meta a i {
          color: #c4c4c4; }
.journal-detail .comment-form {
  margin-top: 100px; }
  .journal-detail .comment-form h3 {
    color: #11b8d7;
    margin: 0 0 30px 0;
    font-size: 36px; }
  .journal-detail .comment-form .form-control {
    background-color: #f8f2ed;
    border-radius: 5px; }
.journal-detail aside .widget {
  margin-bottom: 50px; }
  .journal-detail aside .widget h3 {
    color: #11b8d7;
    margin: 0 0 30px 0; }
.journal-detail aside .form-control {
  padding-left: 40px;
  border-radius: 5px;
  background-color: #f8f2ed;
  background-position: 20px center;
  background-image: url(../img/search.png);
  background-repeat: no-repeat; }
.journal-detail aside .post {
  background-color: transparent;
  border-radius: 0;
  overflow: hidden;
  padding-bottom: 15px;
  border-bottom: 1px solid #f8f2ed; }
  .journal-detail aside .post + .post {
    margin-top: 15px; }
  .journal-detail aside .post:last-child {
    border-bottom: none; }
  .journal-detail aside .post .post-thumbnail {
    width: 20%;
    float: left;
    border-radius: 5px;
    overflow: hidden; }
  .journal-detail aside .post .align {
    padding: 10px;
    margin-left: 22%; }
  .journal-detail aside .post h4 {
    font-size: 14px;
    margin: 0 0 2px 0; }
    .journal-detail aside .post h4 a {
      color: #9c9c9c; }
  .journal-detail aside .post span {
    font-size: 12px;
    text-transform: uppercase; }
.journal-detail aside .tags {
  padding: 0; }
  .journal-detail aside .tags ul {
    padding: 0; }
  .journal-detail aside .tags li {
    display: inline-block;
    list-style: none;
    margin: 0 5px 10px 0; }
  .journal-detail aside .tags a {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 10px;
    background-color: #f8f2ed;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #9c9c9c;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .journal-detail aside .tags a:hover {
      background-color: #11b8d7;
      color: #fff;
      text-decoration: none; }
.journal-detail aside .archives li {
  margin-bottom: 20px; }
.journal-detail aside .archives li:before {
  display: inline-block;
  font-family: 'FontAwesome';
  content: '\f105';
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #11b8d7;
  border-radius: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
.journal-detail aside .archives li:hover:before {
  background-color: #11b8d7;
  color: #fff; }
.journal-detail aside .archives a {
  color: #9c9c9c; }
  .journal-detail aside .archives a:hover {
    text-decoration: none; }

/* -----------------------------------------------------------------------------
// 5. Cupcakes Page
// ----------------------------------------------------------------------------- */
.cupcakes .section-headline {
  margin-bottom: 20px;
  text-align: center; }
  .cupcakes .section-headline h4 {
    display: inline-block;
    margin: 0 0 40px 0;
    color: #11b8d7;
    font-size: 40px; }
  .cupcakes .section-headline p {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #4b4b4b;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    letter-spacing: 2px; }
.cupcakes .hero-title {
  background-image: url(http://placehold.it/1895x500); }
.cupcakes .item {
  margin-bottom: 50px;
  text-align: center; }
  .cupcakes .item .item-img {
    position: relative;
    padding: 20px 0;
    margin-bottom: 20px;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s; }
    .cupcakes .item .item-img .view {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 80px;
      border-radius: 5px;
      text-align: center;
      padding: 10px 5px;
      background-color: #11b8d7;
      color: #fff;
      opacity: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: opacity 1s;
      -moz-transition: opacity 1s;
      -ms-transition: opacity 1s;
      -o-transition: opacity 1s;
      transition: opacity 1s; }
      .cupcakes .item .item-img .view:hover {
        text-decoration: none; }
      .cupcakes .item .item-img .view:focus {
        outline: none; }
    .cupcakes .item .item-img:hover {
      background-color: #f8f2ed; }
      .cupcakes .item .item-img:hover .view {
        opacity: 1; }
  .cupcakes .item figcaption h4 {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #4b4b4b;
    font-size: 15px;
    font-weight: bold; }

/* -----------------------------------------------------------------------------
// 6. Cupcakes Detail Page
// ----------------------------------------------------------------------------- */
.cupcake-detail .section-headline {
  margin-bottom: 20px;
  text-align: center; }
  .cupcake-detail .section-headline h4 {
    display: inline-block;
    margin: 0 0 40px 0;
    color: #11b8d7;
    font-size: 40px; }
  .cupcake-detail .section-headline p {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #4b4b4b;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    letter-spacing: 2px; }
.cupcake-detail .hero-title {
  background-image: url(http://placehold.it/1895x500); }
.cupcake-detail .post {
  padding-bottom: 100px; }
  .cupcake-detail .post img {
    margin-bottom: 30px; }
  .cupcake-detail .post h3 {
    color: #11b8d7;
    margin-bottom: 20px; }
    .cupcake-detail .post h3 + p {
      margin-bottom: 30px; }
  .cupcake-detail .post h5 {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #4b4b4b; }
    .cupcake-detail .post h5 + p {
      margin-bottom: 30px; }
  .cupcake-detail .post .social {
    padding: 0;
    margin-top: 30px; }
    .cupcake-detail .post .social li {
      list-style-type: none;
      display: inline-block; }
      .cupcake-detail .post .social li a {
        margin-right: 30px;
        font-size: 20px;
        color: #e5e5e5;
        -webkit-transition: color 0.5s;
        -moz-transition: color 0.5s;
        -ms-transition: color 0.5s;
        -o-transition: color 0.5s;
        transition: color 0.5s; }
        .cupcake-detail .post .social li a:hover {
          color: #11b8d7; }
.cupcake-detail .pagination {
  display: block;
  margin: 30px 15px 0 15px;
  padding: 30px 0 0 0;
  border-top: 1px solid #f1f1f1;
  border-radius: 0;
  font-size: 18px; }
  .cupcake-detail .pagination a {
    color: #e5e5e5; }
    .cupcake-detail .pagination a:hover {
      color: #c5c5c5; }
  .cupcake-detail .pagination .arrow {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    background-color: #e5e5e5;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s; }
    .cupcake-detail .pagination .arrow:hover {
      color: #fff;
      background-color: #4b4b4b; }

/* -----------------------------------------------------------------------------
// 7. Contact Page
// ----------------------------------------------------------------------------- */
.contact-page .section-headline {
  margin-bottom: 20px;
  text-align: center; }
  .contact-page .section-headline h4 {
    display: inline-block;
    margin: 0 0 40px 0;
    color: #11b8d7;
    font-size: 40px; }
  .contact-page .section-headline p {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #4b4b4b;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    letter-spacing: 2px; }
.contact-page .hero-title {
  background-image: url(http://placehold.it/1895x500); }
.contact-page .contact {
  text-align: center; }
  .contact-page .contact h2 {
    color: #11b8d7;
    margin-bottom: 30px; }
    .contact-page .contact h2 + p {
      margin-bottom: 50px; }
  .contact-page .contact .form-control {
    background-color: #f8f2ed;
    border-radius: 5px; }
  .contact-page .contact .contact-description {
    margin-top: 100px; }
  .contact-page .contact .info-box {
    padding: 40px 50px;
    background-color: #f8f2ed;
    border-radius: 5px; }
    .contact-page .contact .info-box:before, .contact-page .contact .info-box:after {
      content: " ";
      display: table; }
    .contact-page .contact .info-box:after {
      clear: both; }
    .contact-page .contact .info-box .align {
      text-align: left;
      float: left;
      width: 60%;
      margin-right: 20px; }
    .contact-page .contact .info-box h4 {
      margin-bottom: 30px; }
    .contact-page .contact .info-box .icon {
      float: right;
      width: 30%;
      max-width: 120px;
      height: 100px;
      border-radius: 100%;
      color: #fff;
      line-height: 100px;
      font-size: 50px;
      margin-top: 30px;
      background-color: #11b8d7; }
  @media (max-width: 992px) {
    .contact-page .contact .info-box {
      margin-bottom: 30px; } }

/*# sourceMappingURL=pages.css.map */
